# pip freeze > requirements.txt,   pip-sync


asgiref==3.8.1
Django==5.2
django-debug-toolbar==5.1.0
django-extensions==4.1
django-jazzmin==3.0.1
python-slugify==8.0.4
sqlparse==0.5.3
text-unidecode==1.3


