{% extends 'news/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Добавить статью' %}{% endblock %}

{% block content %}
{#Tabs settings#}
<ul class="nav nav-tabs" id="addArticleTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="manual-tab" data-bs-toggle="tab" data-bs-target="#manual" type="button" role="tab">
     {% trans '✍️ Вручную' %}
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="json-tab" data-bs-toggle="tab" data-bs-target="#json" type="button" role="tab">
      {% trans '💾 JSON файл' %}
    </button>
  </li>
</ul>

<div class="tab-content mt-3">

{#Tab manual#}
<div class="tab-pane fade show active" id="manual" role="tabpanel">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    📰 {{ form.title.label_tag }}<br>
    {{ form.title }}<br>

    💬 {{ form.content.label_tag }}<br>
    {{ form.content }}<br><br>

    <div class="mb-3">
        <label for="{{ form.image.id_for_label }}" class="form-label fw-bold">
            {{ form.image.label }}
  </label>
  📸 {{ form.image }}
</div>



    {#category list#}
       <div class="mb-3">
      <label for="category" class="form-label fw-bold">{% trans 'Категория' %}</label>
      <select name="category" id="category" class="form-select">
        <option value="">{% trans '-- 📂 выберите --' %}</option>
        {% for category in all_categories %}
          <option value="{{ category.id }}" {% if category.id == form.category.value %}selected{% endif %}>
              {{ category.name }}
          </option>
        {% endfor %}
      </select>
    </div>
            {#tags list#}
    <label class="form-label">{% trans '🏷️ Теги' %} </label>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
            {% for tag in all_tags %}
                <div class="col mb-2">
                    <div class="form-check">
                        <input type="checkbox" name="tags" value="{{ tag.id }}"
                            id="tag-{{ tag.id }}" class="form-check-input"
                            {% if tag in form.cleaned_data.tags.all %}checked{% endif %}>
                        <label class="form-check-label" for="tag-{{ tag.id }}">
                            {{ tag.name }}
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>

    <br><button type="submit" class="btn btn-success mt-2">{% trans '📝 Опубликовать' %} </button>
</form>
</div>
<br>

            {#json tab#}
            <div class="tab-pane fade" id="json" role="tabpanel">
            <form method="post" enctype="multipart/form-data" action="{% url 'news:add_article' %}">
                        {% csrf_token %}


            <div class="form-group mt-4">
                <label class="form-label fw-bold">{% trans 'Ваш .json файл:' %} </label>
                    <input type="file" name="json_file" class="form-control" accept=".json">
            </div>

                  <button type="submit" class="btn btn-success mt-2">
                    <i class="bi bi-upload">{% trans '💾 Загрузить' %} </i>
                  </button>

</form>
</div>

</div>
{% endblock %}
