{% extends 'news/base.html' %}

{% block title %} Добавить статью через JSOn file {% endblock %}

{% block content %}
    <div class="card p-4 mb-4">
        <h4 class="mb-3">Загрузить несколько статей из файла json</h4>
        <form method="post" enctype="multipart/form-data" action="{% url 'news:add_article_JSON' %}">
            {% csrf_token %}
            <div class="form-group mt-4">
                <label class="form-label fw-bold">Ваш .json файл:</label>
                    <input type="file" name="json_file" class="form-control" accept=".json">
            </div>

      <button type="submit" class="btn btn-success mt-2">
        <i class="bi bi-upload">Загрузить</i>
    </button>
    </div>
{% endblock %}