{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Архив новостей</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<a id="top"></a>

<h1>Архив новостей</h1>
<h2>Текущее количество статей: {{ articles_count }}</h2>
<p><a class="backlink" href="{% url 'catalog' %}">Назад к главной странице</a></p><br>

<div class="all_news_content">
<ul>
{% for item in news %}
    <li>
        <a href="{% url 'article_detail' item.id %}">{{ item.title }}</a>
        {% for value in item.tags.all %}
            <p>{{ value.name }}</p>
        {% endfor %}
    </li>
{% endfor %}
</ul>
</div>

<a href="#top">Наверх</a>
</body>
</html>