{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все новости</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Fun news</h1>

<div class="container">
    <nav class="menu">
        <ul>
            <li><a href="{% url 'catalog' %}">Главная</a></li>
            <li><a href="{% url 'all_news' %}">Все новости</a></li>
            <li><a href="{% url 'about' %}">О нас</a></li>
        </ul>
    </nav>

    <div class="news">
        <h3>Все новости</h3>
        {% if news %}
            <ul>
            {% for item in news %}
                <li>
                    <a href="{% url 'article_detail' item.id %}">{{ item.title }}</a>
                    {% if item.tags.all %}
                        <span class="tags">
                            (Теги:
                            {% for tag in item.tags.all %}
                                {{ tag.name }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            )
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Новостей пока нет.</p>
        {% endif %}
        <p>Всего статей: {{ articles_count }}</p>
    </div>
</div>
</body>
</html>