{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все новости</title>
</head>
<body>
<h1>Все новости</h1>
<h2>Текущее количество статей: {{ articles_count }}</h2>
<p><a href="{% url 'catalog' %}">Назад к каталогу</a></p>

<ul>
{% for item in news %}
    <li>
        <a href="{% url 'article_detail' item.id %}">{{ item.title }}</a>
        <p>{{ item.content }}</p>
        {% for value in item.tags.all %}
            <p>{{ value.name }}</p>
        {% endfor %}
    </li>
{% endfor %}
</ul>
</body>
</html>