{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="all_news_content">
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <h3>Теги:</h3>
    <ul>
    {% for tag in article.tags.all %}
        <li>{{ tag.name }}</li>
    {% endfor %}
    </ul>
</div>
    <a class="backlink" href="{% url 'news:catalog' %}">Назад к каталогу</a>
</body>
</html>