{% load static %}
{% load upper_words %}
<!DOCTYPE html>
<!-- ЭТО ТОЧНО ДАННЫЕ ИЗ ШАБЛОНА -->
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
</head>
<body>
<img src="{% static 'images/image_original.jpeg' %}" alt="image">
<h1>Каталог новостей</h1>

<p>Текущее количество статей: {{ articles_count }}</p>

<a href="/news/articles/"> Открыть все статьи </a><br>
<a href="/news/article/1"> Открыть статью 1 </a><br>
<a href="/news/article/2"> Открыть статью 2 </a><br>
<a href="/news/article/3"> Открыть статью 3 </a><br>





</body>
</html>