{% extends 'news/base.html' %}

{% block title %}Каталог новостей{% endblock %}

{% block content %}
<section class="news">
    <h3>Последние новости</h3>
    {% if page_obj %}
        <ul>
            {% for item in page_obj %}
                <li>
                    <a href="{% url 'news:article_detail' item.id %}">{{ item.title }}</a>
                    {% if item.category %}
                        <span class="category">
                            (Категория:
                            <a href="{% url 'news:news_by_category' item.category.name %}">
                                {{ item.category.name }}
                            </a>)
                        </span>
                    {% endif %}
                    <br>
                    {% if item.tags.all %}
                        <span class="tags">
                            (Теги:
                            {% for tag in item.tags.all %}
                                <a href="{% url 'news:news_by_tag' tag.name %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                            )
                        </span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <p>Текущее количество статей: {{ articles_count }}</p>
    {% else %}
        <p>Нет новостей для отображения.</p>
    {% endif %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">Первая страница</a><br>
                <a href="?page={{ page_obj.previous_page_number }}">< Предыдущая</a>
            {% endif %}

            <span class="current-page">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая > </a>
            {% endif %}
        </span>
    </div>
</section>
{% endblock %}
