{% extends 'news/base.html' %}
{% load i18n %}

{% block title %} {% trans 'Избранные статьи' %} {% endblock %}

{% block content %}

<section class="news">
    <h2> {% trans 'Избранные статьи' %}</h2>
    {% if favourites_articles %}
        <ul style="display: flex; flex-wrap: wrap; gap: 20px;">
            {% for favourite in favourites_articles %}
                <li style="list-style: none; display: flex; align-items: center;">
                    <a href="{% url 'news:article_detail' slug=favourite.article.slug %}" style="margin-right: 10px;">
                        {{ favourite.article.title }}
                    </a>
                    <form method="POST" action="{% url 'news:favourites' %}" style="display:inline;" class="search-form">
                        {% csrf_token %}
                        <input type="hidden" name="article_id" value="{{ favourite.article.id }}">
                        <button type="submit" class="btn btn-danger">{% trans 'Удалить из избранного' %} </button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        <p>{% trans 'Всего статей:' %} {{ favourites_count }}</p>
    {% else %}
        <p>{% trans 'У вас нет избранных статей.' %} </p>
    {% endif %}
</section>

{% endblock %}
