{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Новости по категории</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Новости по категории: {{ filter }}</h1>

<div class="container">
    <section class="menu">
        <ul>
            <a href="{% url 'news:all_news' %}">Все новости</a><br>
            <a href="{% url 'news:about' %}">О нас</a>
        </ul>
    </section>

    <div class="content-wrapper">
        <section class="news">
            <h3>Новости в категории "{{ filter }}"</h3>
            {% if news %}
                <ul>
                    {% for item in news %}
                        <li>
                            <a href="{% url 'news:article_detail' item.id %}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Нет новостей в этой категории.</p>
            {% endif %}
        </section>
    </div>
</div>

</body>
</html>
