/* Общие стили для светлой и темной темы */

/* Светлая тема */
.light {
    background-color: #f8f9fa;  /* Светлый фон */
    color: #212529;  /* Темный текст */
}

/* Темная тема */
.dark {
    background-color: #343a40;  /* Темный фон */
    color: #f8f9fa;  /* Светлый текст */
}

/* Стили для элементов в боковой панели (например, тегов и категорий) */
.card {
    background-color: #ffffff;  /* Белый фон для карточек */
    border: 1px solid #ddd;  /* Светлая рамка */
}

/* В темной теме стили для карточек */
.dark .card {
    background-color: #495057;  /* Темный фон для карточек */
    border-color: #6c757d;  /* Тёмная рамка */
}

.dark .card a {
    color: #f8f9fa;  /* Светлый цвет ссылок в темной теме */
}

/* Стили для ссылок */
a {
    color: #007bff;  /* Синий цвет ссылок */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Стили для навигационного меню */
.nav-link {
    color: #212529;  /* Темный цвет текста для ссылок */
}

.dark .nav-link {
    color: #f8f9fa;  /* Светлый цвет текста для ссылок в темной теме */
}

.nav-link:hover {
    color: #0056b3;  /* Цвет при наведении */
}

/* Дополнительные стили для контента */
h1, h5 {
    color: #212529;  /* Темный цвет для заголовков */
}

.dark h1, .dark h5 {
    color: #f8f9fa;  /* Светлый цвет для заголовков в темной теме */
}

#theme-toggle {
    position: fixed;
    bottom: 50px;
    left: 50px;
}
