/* Основные стили страницы */
body {
    background: #ccc;
    padding: 10px;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Заголовки */
h1, h2, h3, h4 {
    text-align: center;
}

.main-header {
    margin-left: 100px;
}

/* Контейнер для страницы */
.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    gap: 20px;
}

/* Меню */
.menu {
    flex: 0 0 200px;
    background: gray;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-size: 18px;
    height: fit-content;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul a {
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

/* Основной контент */
.content-wrapper {
    display: flex;
    flex: 1;
    gap: 20px;
}

.news {
    flex: 7;
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    line-height: 1.6;
    word-spacing: 0.05em;
    hyphens: auto;
    text-align: justify;
}

/* Боковая панель */
.sidebar {
    flex: 1;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    height: fit-content;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 8px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}

.tags a {
    color: #28a745;
    text-decoration: none;
}

/* Контент для новостей */
.all_news_content {
    max-width: 800px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    text-align: justify;
}

/* Ссылка на обратную страницу */
.backlink {
    font-size: 18px;
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

.backlink:hover {
    text-decoration: underline;
}

/* Форма поиска */
.search-form {
    margin-bottom: 20px;
}

.search-form input[type="text"] {
    padding: 5px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
}

.search-form button:hover {
    background-color: #0056b3;
}

/*Блок лайков и закладок*/
.buttons-container {
    display: flex;
    gap: 10px;
}


.search-form {
    margin: 0;
}
