{% extends 'news/base.html' %}

{% block title %} User log {% endblock %}

{% block content %}

   <h2> User '{{ username }}' activity</h2>

<table class="table align-middle">
  <thead>
    <tr>
      <th class="px-4">Date</th>
      <th class="px-4">Action</th>
      <th class="px-4">Model</th>
      <th class="px-4">Object</th>
    </tr>
  </thead>

  <tbody>
    {% for log in user_logs %}
    <tr>
      <td class="px-4 py-2">{{ log.time|date:"d.m.Y H:i" }}</td>
      <td class="px-4 py-2">{{ log.action }}</td>
      <td class="px-4 py-2">{{ log.model }}</td>
      <td class="px-4 py-2">{{ log.object }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="px-4 py-2" colspan="5">No activity yet</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}