{% extends 'news/base.html' %}
{% load i18n %}

{% block title %} {% trans 'Активность пользователя' %} {% endblock %}

{% block content %}

   <h2> {% trans 'Активность пользователя' %} '{{ username }}' </h2>

<table class="table align-middle">
  <thead>
    <tr>
      <th class="px-4"> {% trans 'Дата' %} </th>
      <th class="px-4"> {% trans 'Действие' %} </th>
      <th class="px-4"> {% trans 'Модель' %} </th>
      <th class="px-4"> {% trans 'Объект' %}</th>
    </tr>
  </thead>

  <tbody>
    {% for log in user_logs %}
    <tr>
      <td class="px-4 py-2">{{ log.time|date:"d.m.Y H:i" }}</td>
      <td class="px-4 py-2">{{ log.action }}</td>
      <td class="px-4 py-2">{{ log.model }}</td>
      <td class="px-4 py-2">{{ log.object }}</td>
    </tr>
    {% empty %}
    <tr>
      <td class="px-4 py-2" colspan="5"> {% trans 'Действий пользователя еще нет' %} </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

     <div class="mb-3">
         <a href="{% url 'profiles:user_info' %}" class="btn btn-outline-secondary me-2 mb-2"> {% trans 'Назад к вашему профилю' %} </a>
     </div>


{% endblock %}